apiVersion: v1
kind: Pod
metadata:
  annotations:
    prometheus.io/port: "2379"
    prometheus.io/scrape: "true"
  creationTimestamp: null
  labels:
    component: etcd
    tier: control-plane
  name: etcd
  namespace: kube-system
spec:
  containers:
  - command:
    - etcd
    - --name={{ inventory_hostname }}
    - --listen-client-urls=http://0.0.0.0:2379
{% if kubernetes_apiserver_expose_interface == "" %}    
    - --advertise-client-urls=http://{{ hostvars[ inventory_hostname ][ 'ansible_default_ipv4' ]['address'] }}:2379
{% else %}
    - --advertise-client-urls=http://{{ hostvars[ inventory_hostname ][ kubernetes_apiserver_interface_name ][ 'ipv4' ][ 'address' ] }}:2379
{% endif %}
    - --data-dir=/var/lib/etcd
    image: {{kube_repo_prefix}}/etcd-amd64:3.0.17
    livenessProbe:
      failureThreshold: 8
      httpGet:
        host: 127.0.0.1
        path: /health
        port: 2379
        scheme: HTTP
      initialDelaySeconds: 15
      timeoutSeconds: 15
    name: etcd
    resources: {}
    volumeMounts:
    - mountPath: /etc/ssl/certs
      name: certs
    - mountPath: /var/lib/etcd
      name: etcd
    - mountPath: /etc/kubernetes/
      name: k8s
      readOnly: true
  hostNetwork: true
  securityContext:
    seLinuxOptions:
      type: spc_t
  volumes:
  - hostPath:
      path: /etc/ssl/certs
    name: certs
  - hostPath:
      path: /var/lib/etcd
    name: etcd
  - hostPath:
      path: /etc/kubernetes
    name: k8s
status: {}
